Bonjour {{ user.prenom }},

<p>Le directeur de l'école vient de {% if heures_ext.status == '2' %} valider {% else %} rejeter {% endif %} votre demande pour enseigner <b>{{ heures_ext.nb_heures }}</b> heures à l'école <b>{{ heures_ext.lieu }}</b> à partir de <b>{{ conv_sqlstr_date(heures_ext.date_debut) }}</b> en date du {{ conv_sqlstr_date(heures_ext.date_demande) }}. <a href="{{ url_for('historique', _external=True) }}"> Cliquez ici pour voir le detail</a>
{% if heures_ext.status == '2' %}
	<br><br>Bon enseignement!
{% endif %}
<br><br>
Cordialement,
<br><br>
Admin de l'<code>HeuresExt</code></p>
