{% extends "base.html" %}
{% block content %}
{{ super() }}

<div style="margin-left: 2%;">
<h4>{{msg}}</h4>
{% if l %}
<table>

    <tr>
        <th> Nom </th>

        <th> Prénom </th>
        <th> Date demande </th>        
        <th> Type </th>             
        <th> Nb jours  </th>

        <th> Date début </th>

        <th> Date fin </th>

        <th> Validation </th>
    </tr>
        {% for i in l %}
            <tr>

                <td width="10%"> {{ models.User.query.filter_by(user_id=i.user_id).first().nom }} </td>

                <td width="10%"> {{ models.User.query.filter_by(user_id=i.user_id).first().prenom }} </td>

                <td width="10%"> {{ conv_sqlstr_date(i.date_demande) }}</td>
                <td width="5%"> {{ i.type_demande }} </td>    

                <td width="5%" style="text-align:center"> {{ abs_str(i.nb_jour) }} </td>

                <td width="10%"> {{ conv_sqlstr_date(i.date_debut) }}</td>

                <td width="10%"> {{ conv_sqlstr_date(i.date_fin) }}</td>

                <td width="10%">{{ valid[models.Vacances.query.filter_by(vacances_id=i.vacances_id).first().status] }}
                </td>
            </tr>
        {% endfor %}

</table>

{% endif %}
</div>

{% endblock %}