{% extends "base.html" %}
{% block content %}
{{ super() }}

<h4>{{msg}}</h4>
{% if user_vacs_ens %}
<table>

    <tr>
        <th> Nom </th>

        <th> Prénom </th>

        <th> Nombre de jours  </th>

        <th> Date début </th>

        <th> Date fin </th>

        <th> Validation </th>
    </tr>
        {% for i in user_vacs_ens.items %}
            <tr>

                <td width="10%"> {{ i.user.nom }} </td>

                <td width="10%"> {{ i.user.prenom }} </td>

                <td width="10%"> {{i.nb_jour }} </td>

                <td width="10%"> {{ i.date_debut }}</td>

                <td width="10%"> {{i.date_fin }}</td>

                <td width="10%">{% if i.status == 1 %}
                        oui
                    {% endif % }
                    {% if  i.status == -1 %}
                        non
                    {% endif %}
                    {% if i.status == 0 %}
                        en attente
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

</table>

{% endif %}


{% endblock %}