Bonjour {{ responsable.prenom }},

<p><b>{{ user.prenom }} {{ user.nom }}</b> demande d'annuler ses vacances du <b>{{ conv_sqlstr_date(form.annulationDateDebut.data) }}</b> au <b>{{ conv_sqlstr_date(form.annulationDateFin.data) }}</b> (<b>{{ form.annulationNbJours.data }}</b> jours ouvrés déclarés), pour le motif suivant : "<em>{{ form.annulationMotif.data}}</em>". 
<p>Son solde de vacances est actuellement de <b>{{ user.soldeVacs}}</b> jour(s), et la validation de la demande le porterait à <b>{{ user.soldeVacs + form.annulationNbJours.data }}</b> jour(s).
<br>
Merci de bien vouloir valider ou non cette demande via l'application VacEns. 
<br><br>
Cordialement,
<br><br>
Admin de <code>VacEns</code>

