Bonjour {{ validator.prenom }},

<p>{% if validator.role == 77 %}
La responsable de <b>{{ vac_ens.user.prenom }} {{ vac_ens.user.nom }}</b> vient de valider sa demande 
{% else %}
<b>{{ vac_ens.user.prenom }} {{ vac_ens.user.nom }}</b> vient de demander 
{% endif %}
{% if vac_ens.type_demande == 'Report' %}de prendre des vacances en report,
{% else %}d'annuler ses vacances
{% endif %}
 du <b>{{ conv_sqlstr_date(vac_ens.date_debut) }}</b> au <b>{{ conv_sqlstr_date(vac_ens.date_fin) }}</b> (<b>{{ vac_ens.nb_jour }}</b> jours ouvrés déclarés){% if vac_ens.type_demande == 'Annulation' %}, pour le motif suivant: <b><em>{{ vac_ens.motif }}</em></b> {% endif %}. Son solde de vacances est actuellement de <b>{{ vac_ens.user.soldeVacs}}</b> jour(s), et la validation de la demande le porterait à <b>{% if vac_ens.type_demande == 'Report' %}{{ vac_ens.user.soldeVacs + vac_ens.nb_jour }}{% else %}{{ vac_ens.user.soldeVacs - vac_ens.nb_jour }}{% endif %}</b> jour(s). {% if validator.role == 77 %}Cette demande reste à votre validation. {% endif %}

<br><br>
{% if validator.role == 77 %}
	{% set status, role_validator, template = 2, 'direction', 'validation_vacances_direction' %}
{% else %}
	{% set status, role_validator, template = 1, 'dept', 'validation_vacances_responsable' %}
{% endif %}
Cliquez les liens ci-dessous pour valider ou rejeter cette demande :<br>
<a href="{{ url_for('main_vac.validation_email', pseudo=vac_ens.pseudo, vacances_id=vac_ens.vacances_id, status=status, validator=role_validator, _external=True) }}" id='oui'> -Valider</a><br>
<a href="{{ url_for('main_vac.validation_email', pseudo=vac_ens.pseudo, vacances_id=vac_ens.vacances_id, status=-1, validator=role_validator, _external=True) }}" id='non'> -Rejeter</a><br><br> ou <br>
<a href="{{ url_for('main_vac.' + template, _external=True) }}"> Cliquez ici pour voir le detail</a>
<br><br>
Cordialement,
<br><br>
Admin de <code>VacEns</code></p>

