Bonjour {{ responsable.prenom }},

<p>{{ user.prenom }} {{ user.nom }} demande à prendre des vacances en report, du {{ conv_sqlstr_date(form.priseDateDebut.data)  }} au {{ conv_sqlstr_date(form.priseDateFin.data) }} ({{ form.priseNbJours.data }} jours ouvrés déclarés). 
<p>Son solde de vacances est actuellement de {{ user.soldeVacs}} jour(s), et la validation de la demande le porterait à {{ user.soldeVacs - form.priseNbJours.data }} jour(s).
<br>
Merci de bien vouloir valider ou non cette demande via l'application VacEns. 


