Bonjour {{ responsable.prenom }},

<p><b>{{ user.prenom }} {{ user.nom }}</b> demande de prendre des vacances en report, du <b>{{ conv_sqlstr_date(form.priseDateDebut.data) }}</b> au <b>{{ conv_sqlstr_date(form.priseDateFin.data) }}</b> (<b>{{ form.priseNbJours.data }}</b> jours ouvrés déclarés). 
<p>Son solde de vacances est actuellement de <b>{{ user.soldeVacs}}</b> jour(s), et la validation de la demande le porterait à <b>{{ user.soldeVacs - form.priseNbJours.data }}</b> jour(s).
<br><br>
Merci de bien vouloir valider ou non cette demande via l'application VacEns. 
<br><br>
Cordialement,
<br><br>
Admin de <code>VacEns</code>

