Bonjour {{ user.prenom }},

<p>Le directeur de l'école vient de <b>{% if vacs.status == 2 %} valider {% else %} rejeter {% endif %}</b> ta demande {% if vacs.type_demande == 'Report' %} de report  {% else %} d'annulation {% endif %} de vacances du <b>{{ conv_sqlstr_date(vacs.date_debut)  }}</b> au <b>{{ conv_sqlstr_date(vacs.date_fin) }}</b>,  en date du <b>{{ conv_sqlstr_date(vacs.date_demande) }}</b>. 
<p>{% if vacs.status == 2 %}Ton nouveau solde de vacances est de <b>{{ user.soldeVacs }}</b> jour(s). {% endif %}
<br><br>
Cordialement,
<br><br>
Admin de <code>VacEns</code>


