<!-- extend base layout -->
{% extends "templates_vacEns/base.html" %}

{% block content %}
{{ super() }}
  
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-warning">
			<div ><img src="/static/unnamed.jpg" class="img-responsive center-block" style = "width:100%; height:100%;"></div>
			<div class="panel-heading"><p>Autorisation de vacances hors calendrier officiel des vacances enseignant.  Ces vacances devraient intervenir en <em>report</em> de vacances annulées : vous ne devriez déposer des vacances que si votre <em> solde </em> est positif.</div>
			<div class="panel-body">

				<p>Solde vacances : {{ solde_vacances }}</p>

				<p>Soldes vacances en cours de validation : {{ solde_vacances_validation }} </p>

				<form action="" method="post" name="prise">
				  {{ form.hidden_tag() }}
				  <p>
					  {{ form.priseDateDebut.label }}<br>
					  {{ form.priseDateDebut(size=40, class_='dateDebut', placeholder='jj/mm/AAAA') }}
					  {% for error in form.priseDateDebut.errors %}
					  	<span style="color: red">{{ error }}</span>
					  {% endfor %}<br>
				  </p>
				  <p>
					  {{ form.priseDateFin.label }}<br>
					  {{ form.priseDateFin(size=40, class_='dateFin', placeholder='jj/mm/AAAA') }}
					  {% for error in form.priseDateFin.errors %}
					  	<span style="color: red">{{ error }}</span>
					  {% endfor %}<br>
				  </p>
				  <p>
					  {{ form.priseNbJours.label }}<br>
					  {{ form.priseNbJours(class_='nbJours') }}
					  {% for error in form.priseNbJours.errors %}
					  	<span style="color: red">{{ error }}</span>
					  {% endfor %}<br>
				  </p>
				  <p><input class="btn btn-success" type="submit" value="Valider"></p>
			  </form>			
			</div>
		</div>	
	</div>
</div>

{% endblock %}
