{% extends "templates_consEns/base.html" %}
{% block content %}
{{ super() }}

<div class='affiche-div main_cons_bp {{ template_flag }} {{ page }} cons-ens'>
<h4>{{msg}}</h4>
{% if user_cons_ens %}

{% if template_flag != 'historique' %}
    <form action="" method="post">
{% endif %}
<table class='order-desc table table-hover affiche-table' width="100%">
    <tr>
        <th id="nom"> Nom </th>

        <th id="prenom"> Prénom </th>

        <th id="sujet"> Sujet </th>

        <th id="nom_entreprise"> Nom d'entreprise </th>

        <th id="adresse"> Adresse d'entreprise </th>

        <th id="date_demande"> Date demande </th>
        
        <th id="date_debut"> Date Debut </th>

        <th id="nb_jours"> Nb de jours </th>

        <th id="status"> Validation </th>
    </tr>
    <div id="table-data">
    {% for i in user_cons_ens.items %}
        <tr>
            <td> {{ i.user.nom }} </td>

            <td> {{ i.user.prenom }} </td>

            <td id="td_sujet" title="{{ i.sujet }}"> {{ i.sujet }} </td>

            <td> {{ i.nom_entreprise }} </td>

            <td> {{ i.adresse }} </td>

            <td> {{ conv_sqlstr_date(i.date_demande) }} </td>   

            <td> {{ conv_sqlstr_date(i.date_debut) }} </td>

            <td> {{ abs_str(i.nb_jours) }} </td>

            {% if template_flag == 'historique' %}
                {% set status = i.status %}
                {% if i.date_debut < current_date %}
                    {% if status == -1 %}
                        <td class='deja_finis' title="Motif rejet: {{ i.motif_rejet }}">
                    {% else %}
                        <td class='deja_finis'>
                    {% endif %} {{ valid[status] }} </td>
                {% elif status == 2 %}
                    <td class='oui'> {{ valid[status] }} </td>
                {% elif status == -1 %}
                    <td class='non' title="Motif rejet: {{ i.motif_rejet }}"> {{ valid[status] }} </td>
                {% else %}
                    <td class='en_cours'> {{ valid[status] }} </td>
                {% endif %}

            {% else %}
                <td>
                    <div class="valid-div">
                        <select name= "{{ i.cons_ens_id }}" class="form-control validate valid-checkbox" id="{{ i.cons_ens_id }}" style="width: 75px;">
                            <option value=0></option>

                            <option value=2>Oui</option>

                            <option value=-1>Non</option>
                        </select>
                        <a class="motif-lien">Motif</a>
                    </div>
                    <section class="motif-rejet" id="motif-rejet-{{ i.cons_ens_id }}">
                        <div class="fond">
                            <div class="UI">
                                <b>Motif</b><br>
                                <span class="warning-msg"></span>
                                <textarea name="motif-{{ i.cons_ens_id }}" rows="3" cols="20" placeholder="Veuillez saisir un motif pour lequel vous rejetez cette demande"></textarea><br><br>
                                <button type="button" id="btn-motif-rejet-{{ i.cons_ens_id }}" class="btn btn-success btn-sm btn-motif-rejet">Valider</button>
                            </div>
                        </div>
                    </section>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </div>
    
</table>
{% if template_flag != 'historique' %}
        <input class="btn btn-success btn-sm" type="submit" value="Envoyer" />
    </form>
{% endif %}

{% if template_flag == 'historique' %}

<div id='pagination_buttons'>
{% if page == 1 %}
    Première
{% else %}
    <a href="{{ url_for('cons_ens_bp.' + template_flag, page=1) }}">Première</a>
{% endif %}
{% if user_cons_ens.has_prev %}
    <a href="{{ url_for('cons_ens_bp.' + template_flag, page=user_cons_ens.prev_num) }}">&lt;&lt; </a>
{% else %}
    &lt;&lt; 
{% endif %}

<button class="btn btn-page">{{ page }}</button>

{% if user_cons_ens.has_next %}
    <a href="{{ url_for('cons_ens_bp.' + template_flag, page=user_cons_ens.next_num) }}"> &gt;&gt;</a>
{% else %}
     &gt;&gt;
{% endif %}
{% if page == page_max %}
    Dernière
{% else %}
    <a href="{{ url_for('cons_ens_bp.' + template_flag, page=page_max) }}">Dernière</a>
{% endif %}
</div>

{% endif %}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if user_cons_ens %}
    <script type="text/javascript">
        $(document).on('click', '.affiche-table th', function() {
            sortable_ajax = $(this).attr('id');
            $('table').toggleClass('order-desc');
            if($('table').hasClass('order-desc')) {
                order_ajax = 'asc';
            }
            else {
                order_ajax = 'desc';
            }
            $.ajax({
                url: "{{ url_for('cons_ens_bp.' + template_flag, page=page) }}",
                data: {sortable: sortable_ajax, order: order_ajax},
                type: 'GET',
                success: function(response) {
                    //document.write(response);
                    $('table').html( $('<table>').html(response).find('table') );
                }
            });
        });
        $(document).on('click', '#pagination_buttons a', function() {
            $.ajax({
                url: "{{ url_for('cons_ens_bp.' + template_flag) }}",
                data: {sortable: sortable_ajax, order: order_ajax},
                type: 'GET'
            });
        });

    </script>
    {% endif %}
{% endblock %}