{% extends 'base.html' %}

{% block head %}
	<style type="text/css">
		div {
			margin: auto;
			margin-top: 7%;
			
			border-radius: 4px;
			width: 70%;
			
			
		}
		p {
			font-size: 25px;
			font-family: Arial; 
			text-align: center;
			color: #a47;
		}
		a {
			text-align: center;
			text-decoration: none;
			color: #aaa;
		}
		a:hover {
			text-decoration: underline;
			color: #a77;
		}
		span {
			font-size: 28px;
		}
	</style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

<div>
	<p>{{ msg }}</p>
	<p>La fenêtre va fermer dans <span>5</span> secondes...</p>
</div>

<p><a href="javascript:window.opener=null;window.open('','_self');window.close();">Fermez tout de suite </a></p>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
        var timeout = 5;
        function show() {
        	
        	timeout--;
        	if(timeout == 0) {
        		window.open('','_parent',''); 
        		window.close();
        	}
        	else {
        		setTimeout(show, 1000);
        	}
        	$('span').html(timeout);
        }
        show();
    })

</script>
			
{% endblock %}
