{% extends "templates_commun/base.html" %}
 
{% import "bootstrap/wtf.html" as wtf %}
 
{% block container %}
	<h2> Ajout d'un utilisateur</h2>
     
	<form action="" method="post" name="add-user" class="form-horizontal form-edit-user">
		{{ form.hidden_tag() }}
		<p>
			<b>{{ form.login.label }}</b><br>
			{{ form.login(autofocus=True, size=40, id_='login') }}
			<span class="info-msg"></span><br>
		</p>
		<p>
			<b>{{ form.prenom.label }}</b><br>
			{{ form.prenom(size=40, id_='prenom') }}<br>
		</p>
		<p>
			<b>{{ form.nom.label }}</b><br>
			{{ form.nom(size=40, id_='nom') }}<br>
		</p>
		<p>
			<b>{{ form.email.label }}</b><br>
			{{ form.email(size=40, id_='email') }}<br>
		</p>
		<p>
			<b>{{ form.role.label }}</b><br>
			{{ form.role(id_='role') }}<br>
		</p>
		<p>
			<b>{{ form.dept.label }}</b><br>
			{{ form.dept(id_='dept') }}<br>
		</p>
		<br>
		<p>
			{{ form.supprimer(class_="btn btn-default btn-sm btn-delete-user", onclick="return deleteUserForm($(this));") }}
			{{ form.updater(class_="btn btn-success btn-sm btn-update-user") }}
			<br>
		</p>
		
	</form>

    <br>
    <a href="/index"> Cliquer ici pour revenir à "home"</a>
    <br><br>

{% endblock %}
