{% extends "templates_heuresExt/base.html" %}
 
{% import "bootstrap/wtf.html" as wtf %}
 
{% block container %}
  <h2> Menu d'extraction</h2>
     
   <form action="" method="post" name="admin" class="form-admin">
		{{ form.hidden_tag() }}
		<p>
			{{ form.signature_direction(class_='admin-func') }}<br>
		</p>
		<p>
			{{ form.extraction_cci(class_='admin-func') }}<br>
		</p>
		<p>
			{{ form.extraction_hors_cci(class_='admin-func') }}<br>
		</p>
		<p>	
			{{ form.historique_total(class_='admin-func') }}<br>
		</p>
		
		
	</form>

   <br>
   <a href="/heuresExt/index"> Cliquer ici pour revenir à "home" </a>

{% endblock %}