{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div id="entry">
	
	<a href="/heuresExt/historique"><button type="button" class="btn btn-info btn-lg" ><b>Entrez dans l'appli HeuresExt</b></button></a>
	<br><br><br>
	
	<a href="/vacEns/historique_user"><button type="button" class="btn btn-info btn-lg"><b>Entrez dans l'appli Vacens</b></button></a>
	<br><br><br>
	
	<a href="/consEns/historique"><button type="button" class="btn btn-info btn-lg"><b>Entrez dans l'appli ConsEns</b></button></a>
</div>

{% endblock %}