{% extends "bootstrap/base.html" %}
{% block content %}

<div style="margin-left: 2%;">
<h2 style="text-align: center;">Demandes des déclarations d'heures extérieures enseignant en date du {{date_du_jour}}
</h2>

{% if l %}
<ul>
 {% for heure_ext_en_cours in l %}
<li> <b>{{ models.User.query.filter_by(user_id=heure_ext_en_cours.user_id).first().nom }} {{ models.User.query.filter_by(user_id=heure_ext_en_cours.user_id).first().prenom }}</b> demande d'enseigner <b>{{ abs_str(heure_ext_en_cours.nb_heures) }}</b> heures de cours à l'école <b>{{ heure_ext_en_cours.lieu }}</b>{% if heure_ext_en_cours.ecole_cci == 1 %} (une école de la CCI){% else %} (une école hors CCI){% endif %}, à partiir du <b>{{ conv_sqlstr_date(heure_ext_en_cours.date_debut) }}</b>. 
</li>
<br>
{% endfor %}
</ul>
{% endif %}
</div>

{% endblock %}

