{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ APPDIR }}/static/css/myStyle.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ APPDIR }}/static/css/main.css">
    <!--prevent the browser to make a request for the favicon-->
    <link rel="icon" href="data:;base64,=">
    <title>{% block title %}
        {% if title %}
            {{ title }} - HeuresExt
        {% else %}
            HeuresExt
        {% endif %}
    {% endblock title %}</title>



{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/heuresExt/index">HeuresExt!</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/heuresExt/index">Home</a></li>
      {% if session['user_id'] == null %}
        <li><a href="/login">Login</a></li>
      {% endif %}
      {% if session["user_id"] != null %}
        <li><a href="/heuresExt/dec">Déclaration</a></li>
        <li><a href="/heuresExt/historique">Historique</a></li>
              {% if current_user.get_role() != null %}
                  {% if current_user.get_role() > 1 %}
            <li><a href="/heuresExt/validation_dept">Validation (dept)</a></li>
                     {% if current_user.get_role() == 77 %}
            <li><a href="/heuresExt/validation_direction">Validation direction</a></li>
            <li><a href="/heuresExt/admin">Extraction</a></li>
                     {% endif %}
                  {% endif %}
              {% endif %}
        
  <li><a href="/logout">Logout</a></li>
  <li><a href="/accueil">Accueil</a></li>
  {% endif %}
      </ul>
  {% if session["user_id"] != null %} 
  <ul class="nav navbar-nav" style="float: right">
      <li><a href="#" class="navbar-nav pull-right"> {{ current_user.get_name() }} </a></li>
  </ul>
  {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
    {% block container %} {% endblock %}

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('li.active').removeClass('active');
            current_path = '/' + location.pathname.split('/')[1] + '/' + location.pathname.split('/')[2];
            $('a[href="' + current_path + '"]').closest('li').addClass('active');
            
            if(location.pathname == '/') {
                $('a[href="/index"]').closest('li').addClass('active');
            }
        });
    </script>
{% endblock %}