{% extends "base.html" %}
{% block content %}
{{ super() }}

<div class='affiche-div main_bp {{ template_flag }} {{ page }}'>
<h4>{{msg}}</h4>
{% if user_heures_ext %}

{% if template_flag != 'historique' %}
    <form action="" method="post">
{% endif %}
<table class='order-desc table table-hover affiche-table' width="100%">
    <tr>
        <th id="nom"> Nom </th>

        <th id="prenom"> Prénom </th>

        <th id="sujet"> Sujet </th>

        <th id="date_demande"> Date demande </th>
        
        <th id="date_debut"> Premier cours </th>

        <th id="lieu"> Lieu </th>

        <th id="ecole_cci"> Ecole CCIR </th>

        <th id="nb_heures"> Nombre d'heures  </th>

        <th id="status"> Validation </th>
    </tr>
    {% for user_heure_ext in user_heures_ext.items %}
        <tr>
            <td> {{ user_heure_ext.user.nom }} </td>

            <td> {{ user_heure_ext.user.prenom }} </td>

            <td> {{ user_heure_ext.sujet }} </td>

            <td> {{ conv_sqlstr_date(user_heure_ext.date_demande) }} </td>   

            <td> {{ conv_sqlstr_date(user_heure_ext.date_debut) }} </td>

            <td> {{ user_heure_ext.lieu }} </td>

            <td> {% if user_heure_ext.ecole_cci %}Oui {% else %}Non {% endif %} </td>

            <td> {{ abs_str(user_heure_ext.nb_heures) }} </td>

            {% if template_flag == 'historique' %}
                {% set status = user_heure_ext.status %}
                {% if user_heure_ext.date_debut < current_date %}
                    {% if status == -1 %}
                        <td class='deja_finis' title="Motif rejet: {{ user_heure_ext.motif_rejet }}">
                    {% else %}
                        <td class='deja_finis'>
                    {% endif %} {{ valid[status] }} </td>
                {% elif status == 2 %}    
                    <td class='oui'> {{ valid[status] }} </td>
                {% elif status == -1 %}
                    <td class='non' title="Motif rejet: {{ user_heure_ext.motif_rejet }}"> {{ valid[status] }} </td>
                {% else %}
                    <td class='en_cours'> {{ valid[status] }} </td>
                {% endif %}

            {% else %}
                <td>
                    <div class="valid-div">
                        <select name= "{{ user_heure_ext.heure_ext_id }}" class="form-control validate valid-checkbox" id="{{ user_heure_ext.heure_ext_id }}" style="width: 75px">
                            <option value=0></option>

                            {% if template_flag == 'validation_dept' %}
                                <option value=1>Oui</option>
                            {% else %}
                                <option value=2>Oui</option>
                            {% endif %}
                            <option value=-1>Non</option>
                        </select>
                        <a class="motif-lien">Motif</a>
                    </div>
                    <section class="motif-rejet" id="motif-rejet-{{ user_heure_ext.heure_ext_id }}">
                        <div class="fond">
                            <div class="UI">
                                <b>Motif</b><br>
                                <span class="warning-msg"></span>
                                <textarea name="motif-{{ user_heure_ext.heure_ext_id }}" rows="3" cols="20" placeholder="Veuillez saisir un motif pour lequel vous rejetez cette demande"></textarea><br><br>
                                <button type="button" id="btn-motif-rejet-{{ user_heure_ext.heure_ext_id }}" class="btn btn-success btn-sm btn-motif-rejet">Valider</button>
                            </div>
                        </div>
                    </section>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    
</table>
{% if template_flag != 'historique' %}
        <input class="btn btn-success btn-sm" type="submit" value="Envoyer" />
    </form>
{% endif %}

{% if template_flag == 'historique' %}

<div id='pagination_buttons'>
{% if page == 1 %}
    Première
{% else %}
    <a href="{{ url_for('main_bp.' + template_flag, page=1) }}">Première</a>
{% endif %}
{% if user_heures_ext.has_prev %}
    <a href="{{ url_for('main_bp.' + template_flag, page=user_heures_ext.prev_num) }}">&lt;&lt; </a>
{% else %}
    &lt;&lt; 
{% endif %}

<button class="btn btn-page">{{ page }}</button>

{% if user_heures_ext.has_next %}
    <a href="{{ url_for('main_bp.' + template_flag, page=user_heures_ext.next_num) }}"> &gt;&gt;</a>
{% else %}
     &gt;&gt;
{% endif %}
{% if page == page_max %}
    Dernière
{% else %}
    <a href="{{ url_for('main_bp.' + template_flag, page=page_max) }}">Dernière</a>
{% endif %}
</div>

{% endif %}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if user_heures_ext %}
    <script type="text/javascript">
        //whywhywhywhywhywhywhywhywhywhywhy!!!!!!!!!!!!!!!1!!!!!
        $(document).on('click', '.affiche-table th', function() {
            sortable_ajax = $(this).attr('id');
            $('table').toggleClass('order-desc');
            if($('table').hasClass('order-desc')) {
                order_ajax = 'asc';
            }
            else {
                order_ajax = 'desc';
            }
            $.ajax({
                url: "{{ url_for('main_bp.' + template_flag, page=page) }}",
                data: {sortable: sortable_ajax, order: order_ajax},
                type: 'GET',
                success: function(response) {
                    //document.write(response);
                    $('table').html( $('<table>').html(response).find('table') );
                }
            });
        });

    </script>
    {% endif %}
{% endblock %}