{% extends "bootstrap/base.html" %}
{% block content %}

<div style="margin-left: 2%;">
<h2 style="text-align: center;">{% if 'historique_total' in request_type %}Historique total des demandes {% else %}Demandes{% endif %} des déclarations d'heures extérieures enseignant en date du {{date_du_jour}}
</h2>

{% if l %}
<ol>
 {% for heure_ext in l %}
<li> <b>{{ heure_ext.user.nom }} {{ heure_ext.user.prenom }}</b> demande le {{ conv_sqlstr_date(heure_ext.date_demande) }} d'enseigner <b>{{ abs_str(heure_ext.nb_heures) }}</b> heures de cours à l'école <b>{{ heure_ext.lieu }}</b>{% if heure_ext.ecole_cci == 1 %} (une école de la CCI){% else %} (une école hors CCI){% endif %}, à partir du <b>{{ conv_sqlstr_date(heure_ext.date_debut) }}</b>{% if 'historique_total' in request_type %} (<b>{{ valid[heure_ext.status] }}</b>) {% endif %}. 
</li>
<br>
{% endfor %}
</ol>
{% endif %}
</div>

{% endblock %}

